*{
    box-sizing: border-box;
}

form {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.first-col {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    gap: 30px;
}

.second-col {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 100px;
    gap: 30px;
}

.third-col {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    top: 200px;
}

input {
    width: 20%;
    height: 40px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 10px;
    text-indent: 10px;
    background-color: grey;
}

input[type="submit"] {
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 30%;
    height: 10%;
    justify-self: center;
    background-color: rgba(166, 166, 166, 0.605);
    color: white;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: rgba(166, 166, 166, 0.251);
}

.large {
    height: 7rem;
}

select {
    appearance: none;
    width: 3.5rem;
    padding: 10px;
    border: 2px solid #838383;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

select option {
    background-color: #b4b4b4;
    color: #333;
    font-weight: bold;
    padding: 10px;
}

.url {
    font-size: 0.6rem;
    height: 40px;
    width: 15rem;
    text-indent: 10px;
}

.url::placeholder {
    color: rgba(0, 0, 0, 0.525);
    font-weight: bold;
}

textarea {
    resize: none;
    text-indent: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: grey;
    font-size: 0.8rem;
    padding: 5px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 7%;
    text-indent: 2px;
    font-size: 0.8rem;
    height: 40px;
    text-indent: 10px;
    cursor: pointer;
}