:root {
    font-family: "VT323", monospace;
    font-weight: 400;
    --primary-color: #ffd52c;
    --secondary-color: #ff5c00;
    --tertiary-color: #c72d04;
    --background-color: #111;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    font-size: clamp(18px, 3vw, 30px);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    cursor: url('src/assets/pointer.cur'), auto;
  }
  
  div.retro-container {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
    mask-size: 100% 2px;
    text-shadow: 0 0 0.5rem;
  }
  
  header, footer {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  footer {
   margin-left: 50px;
  }
  
  main {
    overflow: hidden;
  }
  
  section {
    height: 100%;
    overflow: hidden auto;
    margin: 1rem 0;
  }
  
  li a {
    text-decoration: none;
    color: yellow;
  }
  
  li a:visited{
    color: yellow;
  }
  
  p a {
    text-decoration: none;
    color: yellow;
  }
  
  @keyframes crtAnimation {
    0% {
        background-position: 0 0;
    }
  
    100% {
        background-position: 0 10000%;
    }
  }
  
  .old-crt-monitor {
    box-shadow: inset 0px 0px 2rem;
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 80%;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-right: 40px;
  }
  
  
  .retro-container {
    position: relative;
    padding: 20px;
  }
  
  .faded-logo {
    position:absolute;
    top: 100px;
    right: 0;
    width: 600px;
    height: 600px;
    background-image: url('src/assets/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 50%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
  }
  
  a, button, input, textarea {
    cursor: url('src/assets/cursor1.cur'), pointer;
  }
  
  .button-special {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-family: "VT323", monospace;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    text-align: center;
    text-decoration: none;
    cursor: url('src/assets/cursor1.cur'), pointer;
    box-shadow: 0 0 1rem var(--tertiary-color), 0 0 0.5rem var(--primary-color);
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 0.5rem var(--tertiary-color);
    margin-left: 20px;
  }
  
  .button-special:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    box-shadow: 0 0 1.5rem var(--tertiary-color), 0 0 1rem var(--primary-color);
  }
  
  .button-special:active {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    box-shadow: inset 0 0 1rem var(--primary-color), inset 0 0 0.5rem var(--tertiary-color);
  }
  
  .button-special:focus {
    outline: 2px dashed var(--primary-color);
    outline-offset: 4px;
  }
  
  .settings {
    position: relative;
  }
  
  .settings-icon {
    text-decoration: none;
    font-size: 20px;
    margin-left: 252px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
  }
  
  .dropdown-menu li {
    padding: 10px;
    border-radius: 10px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: black;
  }
  
  .settings:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  
  .list-item:hover {
    background-color: #ff5c00;
  }