.volume-control {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 65px;
    margin-right: 20px;
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volume-control input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

.volume-control label {
    margin-bottom: 10px;
}

main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden auto;
    margin: 1rem 0;
    position: relative;
}

.banner {
    width: 90%;
    height: 45vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-left: 65px;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 120px;
    top: 15%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / 4) * 1deg)) 
        translateZ(400px);
}

.banner .slider .item button{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.operation {
    text-align: center;
    margin-left: 25px;
}

.operation h2 {
    animation: fadeAnimation 3s infinite;
}

@keyframes fadeAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.left-rotate, .right-rotate {
    position: absolute;
    top: 50%;
    transform: translateY(-120%);
    padding: 10px 20px;
    font-size: 1rem;
    cursor: url('../assets/cursor1.cur'), pointer;
    font-family: "VT323", monospace;
    z-index: 10;
    width:80px;
    height: 80px;
    background: transparent;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10%;
    font-size: 24px;
}

.left-rotate {
    left: -10px;
}

.right-rotate {
    right: -10px;
}

.left-rotate::before,
.right-rotate::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.left-rotate::before {
    border-width: 10px 15px 10px 0;
    border-color: transparent yellow transparent transparent;
}

.right-rotate::before {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent yellow;
}

.left-rotate:hover,
.right-rotate:hover {
    background-color: #555;
}